.hero-section {
  position: relative;
  height: 100vh; /* Ensure full height */
}

.video-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: -1; /* Make sure video stays behind content */
}

.video-element {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video covers the entire area */
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent black overlay */
  pointer-events: none;
  z-index: 1;
}

.hero-background section {
  position: relative;
  background-color: transparent;
  color: white !important;
  z-index: 2;
}
