/* Footer Styling */
.footer {
  background-color: #1a1a1a; /* Dark background for luxury feel */
  color: #d1d1d1; /* Light grey text */
  padding: 4rem 2rem; /* Increased top/bottom padding for spacious feel */
  font-family: "Georgia", serif; /* Luxury font for a refined look */
  text-align: center; /* Center the bottom content */
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  gap: 3rem; /* Adding gap between the sections */
}

.footer-logo {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-logo-img {
  max-width: 400px; /* Slightly larger logo */
  margin-bottom: 1rem;
}

.footer-nav {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 2rem; /* Space between navigation links */
}

.footer-nav-links {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Spacing between links */
  align-items: center;
  text-align: center;
}

.footer-nav-links li a {
  color: #ffd586; /* Gold color for text links */
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.footer-nav-links li a:hover {
  color: #d1d1d1; /* Lighter gold on hover */
}

.footer-contact {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-address,
.footer-email {
  font-size: 1.2rem;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #d1d1d1;
}

.footer-email a {
  color: #ffd586;
  text-decoration: none;
}

.footer-email a:hover {
  color: #ffcc33;
}

.footer-social {
  display: flex;
  gap: 25px;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.footer-social a {
  color: #ffd586;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
}

.footer-social a:hover {
  color: #d1d1d1;
  transform: scale(1.1);
}

.footer-bottom {
  margin-top: 2rem;
  font-size: 1rem;
  color: #bbb;
}

.footer-bottom p {
  margin-bottom: 10px;
}

.footer-disclaimer {
  font-size: 0.9rem;
  color: #888;
  max-width: 80%;
  margin: 0 auto;
  font-style: italic;
  opacity: 0.8;
  margin-top: 1rem;
  line-height: 1.6;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-nav {
    margin-top: 2rem;
    gap: 2rem; /* Ensuring spacing is good on smaller screens */
  }

  .footer-contact {
    margin-top: 2rem;
    align-items: center;
  }

  .footer-disclaimer {
    margin-top: 2rem;
    font-size: 0.90rem;
    max-width: 90%;
  }

  .footer-social {
    gap: 15px;
  }
}
